<header>
    <img class="logo" src="/assets/icons/logo.svg" alt="Vapor Logo">
    <nav>
        <a href="/store">STORE</a>
        <a href="/library">LIBRARY</a>
        <a href="/about">ABOUT</a>
    </nav>
    <a href="/login" class="login-btn">Log in</a>
</header>
