<header>
    <a href="/" class="logo"><img src="/assets/icons/logo.svg" alt="Vapor Logo"></a>
    <nav>
        <a href="/store" class="nav-links">STORE</a>
        <a href="/library" class="nav-links">LIBRARY</a>
        <a href="/about" class="nav-links">ABOUT</a>
    </nav>
    <a href="/login" class="login-btn">Log in</a>
</header>
