main {
    flex-direction: row;
    justify-content: space-evenly;
}

.box {
    height: 35rem;
    margin: 1rem;
    background-color: #D9D2C7;
    border-radius: 1rem;
    box-shadow: #CFC9BA 0 .3rem .3rem;
} 


.games-list {
    width: min(35ch, 25%);
    height: 35rem;
    padding: .75rem 0;
    overflow-y: auto;
    display: flex;
    flex-flow: column nowrap;
}

.game {
    margin: .5rem 1.5rem;
    display: flex;
    align-items: center;
}

.game > p {
    margin-left: .5rem;
    margin-right: auto;
}

.game > .icon {
    width: 2rem;
    height: 2rem;
    background-color: blueviolet;
}

.game-info {
    width: 69%; 
}

.game-image {
    background-image: url("https://cdn.discordapp.com/attachments/907254985539092480/915880573170495538/Darkwood-review.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 40%; 
    border-radius: 1rem 1rem 0 0;
}

.games-footer {
    margin: 0;
    height: 3.5rem;
    background-color: #CFC9BA;  
    border-radius: 0;
    box-shadow: none;
}

.button {
    width: max-content;
    padding: .75rem 2.5rem;
    color: #F1B9C7;
    background-color: #EE2757;
    cursor: pointer;
    border-radius: .25rem;
    border: none;
    margin: .5rem;
}

