main {
    display: grid;
    place-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: min(80vw, 60ch);
    padding: 1rem 5rem;

    background-color: #D9D2C7;
    border-radius: 1rem;
    box-shadow: #9F795A5A 0 .2rem .4rem .2rem;
    /* CFC9BA */
}

form > h1 {
    font-weight: 200;
    font-size: 2.75rem;
    margin: 1rem 0 2rem 0;
}

form > a {
    display: block;
    color: #EE2757;
    margin: 1rem 0;
    text-decoration: none;
    font-weight: 200;
}

label {
    margin-top: 1.5rem;
    font-size: 1.2rem;
    font-weight: 200;
}

input {
    width: 100%;
    margin: .5rem 0 1rem 0;
    padding: .8rem 1.6rem;

    text-align: center;
    color: #471F00;
    background-color: #E8E5DE;

    border: 1px solid #471F00;
    border-radius: .5rem;

    transition: border-color .3s, outline .3s;
}

input:focus, input:active {
    border-color: #EE2757;
    outline: 1px solid #EE2757;
}

input[type=submit] {
    width: max-content;
    padding: .5rem 3rem;
    color: #F1B9C7;
    background-color: #EE2757;
    border-color: #EE2757;
    margin-top: 1.5rem;
    cursor: pointer;
}

