{% extends "templates/base.njk" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/assets/css/about.css">
{% endblock %}

{% block main %}
    <div class="box">
        <p> Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor</p>
    </div>
{% endblock %}
