{% extends "templates/base.njk" %}

{% block main %}
    <div class="box bg-standout">
        <p> Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor Vapor</p>
    </div>
{% endblock %}
