{% extends "templates/base.njk" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/assets/css/library.css">
{% endblock %}

{% block main %}
    <div class="box games-list"> 
        <p></p>
    </div>
    <div class="box game-info">
        <div class="game-image"></div>
        <div class="box games-footer"> 
            <button class="button">PLAY</button>
        </div>
        <p></p>
    </div>
{% endblock %}
