{% extends "templates/base.njk" %}

{% block main %}
    <div class="box-h">
        <div class="game-list box-v bg-standout"> 
            <div class="game-list-item">
                <div class="icon"></div>
                <a class="game-title" href="#">TetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetris</a>
                <span class="material-icons downloaded">file_download_done</span>
            </div>
            <div class="game-list-item">
                <div class="icon"></div>
                <a class="game-title" href="#">TetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetris</a>
                <span class="material-icons downloaded">file_download_done</span>
            </div>
            <div class="game-list-item">
                <div class="icon"></div>
                <a class="game-title" href="#">TetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetris</a>
                <span class="material-icons downloaded">file_download_done</span>
            </div>
            <div class="game-list-item">
                <div class="icon"></div>
                <a class="game-title" href="#">TetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetris</a>
                <span class="material-icons downloaded">file_download_done</span>
            </div>
            <div class="game-list-item">
                <div class="icon"></div>
                <a class="game-title" href="#">TetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetris</a>
                <span class="material-icons downloaded">file_download_done</span>
            </div>
            <div class="game-list-item">
                <div class="icon"></div>
                <a class="game-title" href="#">TetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetris</a>
                <span class="material-icons downloaded">file_download_done</span>
            </div>
            <div class="game-list-item">
                <div class="icon"></div>
                <a class="game-title" href="#">TetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetris</a>
                <span class="material-icons downloaded">file_download_done</span>
            </div>
            <div class="game-list-item">
                <div class="icon"></div>
                <a class="game-title" href="#">TetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetris</a>
                <span class="material-icons downloaded">file_download_done</span>
            </div>
            <div class="game-list-item">
                <div class="icon"></div>
                <a class="game-title" href="#">TetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetris</a>
                <span class="material-icons downloaded">file_download_done</span>
            </div>
            <div class="game-list-item">
                <div class="icon"></div>
                <a class="game-title" href="#">TetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetris</a>
                <span class="material-icons downloaded">file_download_done</span>
            </div>
            <div class="game-list-item">
                <div class="icon"></div>
                <a class="game-title" href="#">TetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetris</a>
                <span class="material-icons downloaded">file_download_done</span>
            </div>
            <div class="game-list-item">
                <div class="icon"></div>
                <a class="game-title" href="#">TetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetris</a>
                <span class="material-icons downloaded">file_download_done</span>
            </div>
            <div class="game-list-item">
                <div class="icon"></div>
                <a class="game-title" href="#">TetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetris</a>
                <span class="material-icons downloaded">file_download_done</span>
            </div>
            <div class="game-list-item">
                <div class="icon"></div>
                <a class="game-title" href="#">TetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetris</a>
                <span class="material-icons downloaded">file_download_done</span>
            </div>
            <div class="game-list-item">
                <div class="icon"></div>
                <a class="game-title" href="#">TetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetris</a>
                <span class="material-icons downloaded">file_download_done</span>
            </div>
            <div class="game-list-item">
                <div class="icon"></div>
                <a class="game-title" href="#">TetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetris</a>
                <span class="material-icons downloaded">file_download_done</span>
            </div>
            <div class="game-list-item">
                <div class="icon"></div>
                <a class="game-title" href="#">TetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetris</a>
                <span class="material-icons downloaded">file_download_done</span>
            </div>
            <div class="game-list-item">
                <div class="icon"></div>
                <a class="game-title" href="#">TetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetris</a>
                <span class="material-icons downloaded">file_download_done</span>
            </div>
            <div class="game-list-item">
                <div class="icon"></div>
                <a class="game-title" href="#">TetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetris</a>
                <span class="material-icons downloaded">file_download_done</span>
            </div>
            <div class="game-list-item">
                <div class="icon"></div>
                <a class="game-title" href="#">TetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetris</a>
                <span class="material-icons downloaded">file_download_done</span>
            </div>
            <div class="game-list-item">
                <div class="icon"></div>
                <a class="game-title" href="#">TetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetris</a>
                <span class="material-icons downloaded">file_download_done</span>
            </div>
            <div class="game-list-item">
                <div class="icon"></div>
                <a class="game-title" href="#">TetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetris</a>
                <span class="material-icons downloaded">file_download_done</span>
            </div>
            <div class="game-list-item">
                <div class="icon"></div>
                <a class="game-title" href="#">TetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetris</a>
                <span class="material-icons downloaded">file_download_done</span>
            </div>
            <div class="game-list-item">
                <div class="icon"></div>
                <a class="game-title" href="#">TetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetris</a>
                <span class="material-icons downloaded">file_download_done</span>
            </div>
            <div class="game-list-item">
                <div class="icon"></div>
                <a class="game-title" href="#">TetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetris</a>
                <span class="material-icons downloaded">file_download_done</span>
            </div>
            <div class="game-list-item">
                <div class="icon"></div>
                <a class="game-title" href="#">TetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetris</a>
                <span class="material-icons downloaded">file_download_done</span>
            </div>
            <div class="game-list-item">
                <div class="icon"></div>
                <a class="game-title" href="#">TetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetris</a>
                <span class="material-icons downloaded">file_download_done</span>
            </div>
            <div class="game-list-item">
                <div class="icon"></div>
                <a class="game-title" href="#">TetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetris</a>
                <span class="material-icons downloaded">file_download_done</span>
            </div>
            <div class="game-list-item">
                <div class="icon"></div>
                <a class="game-title" href="#">TetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetris</a>
                <span class="material-icons downloaded">file_download_done</span>
            </div>
            <div class="game-list-item">
                <div class="icon"></div>
                <a class="game-title" href="#">TetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetris</a>
                <span class="material-icons downloaded">file_download_done</span>
            </div>
            <div class="game-list-item">
                <div class="icon"></div>
                <a class="game-title" href="#">TetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetris</a>
                <span class="material-icons downloaded">file_download_done</span>
            </div>
            <div class="game-list-item">
                <div class="icon"></div>
                <a class="game-title" href="#">TetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetris</a>
                <span class="material-icons downloaded">file_download_done</span>
            </div>
            <div class="game-list-item">
                <div class="icon"></div>
                <a class="game-title" href="#">TetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetris</a>
                <span class="material-icons downloaded">file_download_done</span>
            </div>
            <div class="game-list-item">
                <div class="icon"></div>
                <a class="game-title" href="#">TetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetris</a>
                <span class="material-icons downloaded">file_download_done</span>
            </div>
            <div class="game-list-item">
                <div class="icon"></div>
                <a class="game-title" href="#">TetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetris</a>
                <span class="material-icons downloaded">file_download_done</span>
            </div>
            <div class="game-list-item">
                <div class="icon"></div>
                <a class="game-title" href="#">TetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetris</a>
                <span class="material-icons downloaded">file_download_done</span>
            </div>
            <div class="game-list-item">
                <div class="icon"></div>
                <a class="game-title" href="#">TetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetris</a>
                <span class="material-icons downloaded">file_download_done</span>
            </div>
            <div class="game-list-item">
                <div class="icon"></div>
                <a class="game-title" href="#">TetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetris</a>
                <span class="material-icons downloaded">file_download_done</span>
            </div>
            <div class="game-list-item">
                <div class="icon"></div>
                <a class="game-title" href="#">TetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetris</a>
                <span class="material-icons downloaded">file_download_done</span>
            </div>
            <div class="game-list-item">
                <div class="icon"></div>
                <a class="game-title" href="#">TetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetris</a>
                <span class="material-icons downloaded">file_download_done</span>
            </div>
            <div class="game-list-item">
                <div class="icon"></div>
                <a class="game-title" href="#">TetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetris</a>
                <span class="material-icons downloaded">file_download_done</span>
            </div>
            <div class="game-list-item">
                <div class="icon"></div>
                <a class="game-title" href="#">TetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetris</a>
                <span class="material-icons downloaded">file_download_done</span>
            </div>
            <div class="game-list-item">
                <div class="icon"></div>
                <a class="game-title" href="#">TetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetris</a>
                <span class="material-icons downloaded">file_download_done</span>
            </div>
            <div class="game-list-item">
                <div class="icon"></div>
                <a class="game-title" href="#">TetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetris</a>
                <span class="material-icons downloaded">file_download_done</span>
            </div>
            <div class="game-list-item">
                <div class="icon"></div>
                <a class="game-title" href="#">TetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetris</a>
                <span class="material-icons downloaded">file_download_done</span>
            </div>
            <div class="game-list-item">
                <div class="icon"></div>
                <a class="game-title" href="#">TetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetris</a>
                <span class="material-icons downloaded">file_download_done</span>
            </div>
            <div class="game-list-item">
                <div class="icon"></div>
                <a class="game-title" href="#">TetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetris</a>
                <span class="material-icons downloaded">file_download_done</span>
            </div>
            <div class="game-list-item">
                <div class="icon"></div>
                <a class="game-title" href="#">TetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetris</a>
                <span class="material-icons downloaded">file_download_done</span>
            </div>
            <div class="game-list-item">
                <div class="icon"></div>
                <a class="game-title" href="#">TetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetris</a>
                <span class="material-icons downloaded">file_download_done</span>
            </div>
            <div class="game-list-item">
                <div class="icon"></div>
                <a class="game-title" href="#">TetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetris</a>
                <span class="material-icons downloaded">file_download_done</span>
            </div>
            <div class="game-list-item">
                <div class="icon"></div>
                <a class="game-title" href="#">TetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetris</a>
                <span class="material-icons downloaded">file_download_done</span>
            </div>
            <div class="game-list-item">
                <div class="icon"></div>
                <a class="game-title" href="#">TetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetris</a>
                <span class="material-icons downloaded">file_download_done</span>
            </div>
            <div class="game-list-item">
                <div class="icon"></div>
                <a class="game-title" href="#">TetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetris</a>
                <span class="material-icons downloaded">file_download_done</span>
            </div>
            <div class="game-list-item">
                <div class="icon"></div>
                <a class="game-title" href="#">TetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetris</a>
                <span class="material-icons downloaded">file_download_done</span>
            </div>
            <div class="game-list-item">
                <div class="icon"></div>
                <a class="game-title" href="#">TetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetris</a>
                <span class="material-icons downloaded">file_download_done</span>
            </div>
            <div class="game-list-item">
                <div class="icon"></div>
                <a class="game-title" href="#">TetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetris</a>
                <span class="material-icons downloaded">file_download_done</span>
            </div>
            <div class="game-list-item">
                <div class="icon"></div>
                <a class="game-title" href="#">TetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetris</a>
                <span class="material-icons downloaded">file_download_done</span>
            </div>
            <div class="game-list-item">
                <div class="icon"></div>
                <a class="game-title" href="#">TetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetris</a>
                <span class="material-icons downloaded">file_download_done</span>
            </div>
            <div class="game-list-item">
                <div class="icon"></div>
                <a class="game-title" href="#">TetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetris</a>
                <span class="material-icons downloaded">file_download_done</span>
            </div>
            <div class="game-list-item">
                <div class="icon"></div>
                <a class="game-title" href="#">TetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetrisTetris</a>
                <span class="material-icons downloaded">file_download_done</span>
            </div>
        </div>
        <div class="bg-standout game-info">
            <div class="game-image"></div>
            <div class="game-actions"> 
                <button class="play">PLAY</button>
                <div class="last-played">
                    <p>LAST PLAYED:<br>today</p>
                </div>
                <div class="total-play-time">
                    <span class="material-icons">hourglass_empty</span>
                    <p>PLAY TIME:<br>XX hours</p>
                </div>
            </div>
            <p class="game-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, delectus beatae vero dolores eius eveniet modi incidunt reiciendis inventore dolor, voluptatibus quae nisi, explicabo aliquam temporibus nostrum magnam harum quos facilis! Nulla iure soluta natus quas voluptatem consequuntur amet, minus odio laborum aut perspiciatis repudiandae earum ducimus dolores quaerat cupiditate sit fugiat eaque quo commodi provident, ullam cum! Dolore facere reiciendis nostrum in eveniet non dicta, ad delectus natus sit illo molestiae nesciunt accusantium quaerat adipisci rem illum! Impedit, iure. Dolorum neque reprehenderit minima error, veritatis non! Ad iste sit impedit vero, laboriosam officiis harum maiores tempora magnam enim at. Reiciendis tempora autem laudantium! Aut ipsa doloribus tenetur doloremque quaerat reprehenderit corporis sunt asperiores sit, error odio est magni voluptatem hic temporibus, modi, tempore ad autem officiis iste.</p>
        </div>
    </div>
{% endblock %}
