{% extends "templates/base.njk" %}

{% block main %}
    <div class="store-preview">
        <span class="material-icons arrow">navigate_before</span>
        <div class="box">
            <img src="" alt="">
            <h1></h1>
            <p></p>
            <div class="tags"></div>
            <div class="screenshots"></div>
            <div class="buttons"></div>
        </div>
        <span class="material-icons arrow">navigate_next</span>
    </div>    
{% endblock %}