{% extends "templates/base.njk" %}

{% block main %}
    <div class="store-preview">
        <span class="material-icons arrow">navigate_before</span>
        <div class="box store-game">
            <a class="image-preview" style="background-image: url('https://cdn.discordapp.com/attachments/907254985539092480/915877428746911824/Risk-of-Rain-2-update.png')">
            </a>
            <h1>Leagues Of Fortresses</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil sunt ut mollitia illum molestias totam! Fugit ab iusto ea, quae officiis delectus commodi distinctio ducimus optio eveniet at expedita repellat velit neque amet nemo aspernatur tempore. Necessitatibus cupiditate deserunt quod repellendus vel iste aliquam, nemo tenetur repudiandae molestiae quas, eius quaerat magni similique sed ipsam ad aliquid ratione libero magnam.</p>
            <div class="tags">
                <span class="tag">Multiplayer</span>
                <span class="tag">Singleplayer</span>
                <span class="tag">Sandbox</span>    
                <span class="tag">FPS</span>
                <span class="tag">Open World</span>
            </div>
            <div class="screenshots">
                <div class="screenshot"></div>
                <div class="screenshot"></div>
                <div class="screenshot"></div>
                <div class="screenshot"></div>
                <div class="screenshot"></div>
                <div class="screenshot"></div>
                <div class="screenshot"></div>
                <div class="screenshot"></div>
                <div class="screenshot"></div>
                <div class="screenshot"></div>
            </div>
            <div class="buttons">
                <a href="#" class="get-game">
                    BUY NOW
                    <span>$ 4.59</span>
                </a>
            </div>
        </div>
        <div class="box store-game">
            <a class="image-preview" style="background-image: url('https://cdn.discordapp.com/attachments/907254985539092480/915877428746911824/Risk-of-Rain-2-update.png')">
            </a>
            <h1>Leagues Of Fortresses</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil sunt ut mollitia illum molestias totam! Fugit ab iusto ea, quae officiis delectus commodi distinctio ducimus optio eveniet at expedita repellat velit neque amet nemo aspernatur tempore. Necessitatibus cupiditate deserunt quod repellendus vel iste aliquam, nemo tenetur repudiandae molestiae quas, eius quaerat magni similique sed ipsam ad aliquid ratione libero magnam.</p>
            <div class="tags">
                <span class="tag">Multiplayer</span>
                <span class="tag">Singleplayer</span>
                <span class="tag">Sandbox</span>    
                <span class="tag">FPS</span>
                <span class="tag">Open World</span>
            </div>
            <div class="screenshots">
                <div class="screenshot"></div>
                <div class="screenshot"></div>
                <div class="screenshot"></div>
                <div class="screenshot"></div>
                <div class="screenshot"></div>
                <div class="screenshot"></div>
                <div class="screenshot"></div>
                <div class="screenshot"></div>
                <div class="screenshot"></div>
                <div class="screenshot"></div>
            </div>
            <div class="buttons">
                <a href="#" class="get-game">
                    BUY NOW
                    <span>$ 4.59</span>
                </a>
            </div>
        </div>
        <div class="box store-game">
            <a class="image-preview" style="background-image: url('https://cdn.discordapp.com/attachments/907254985539092480/915877428746911824/Risk-of-Rain-2-update.png')">
            </a>
            <h1>Leagues Of Fortresses</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil sunt ut mollitia illum molestias totam! Fugit ab iusto ea, quae officiis delectus commodi distinctio ducimus optio eveniet at expedita repellat velit neque amet nemo aspernatur tempore. Necessitatibus cupiditate deserunt quod repellendus vel iste aliquam, nemo tenetur repudiandae molestiae quas, eius quaerat magni similique sed ipsam ad aliquid ratione libero magnam.</p>
            <div class="tags">
                <span class="tag">Multiplayer</span>
                <span class="tag">Singleplayer</span>
                <span class="tag">Sandbox</span>    
                <span class="tag">FPS</span>
                <span class="tag">Open World</span>
            </div>
            <div class="screenshots">
                <div class="screenshot"></div>
                <div class="screenshot"></div>
                <div class="screenshot"></div>
                <div class="screenshot"></div>
                <div class="screenshot"></div>
                <div class="screenshot"></div>
                <div class="screenshot"></div>
                <div class="screenshot"></div>
                <div class="screenshot"></div>
                <div class="screenshot"></div>
            </div>
            <div class="buttons">
                <a href="#" class="get-game">
                    BUY NOW
                    <span>$ 4.59</span>
                </a>
            </div>
        </div>
        <div class="box store-game">
            <a class="image-preview" style="background-image: url('https://cdn.discordapp.com/attachments/907254985539092480/915877428746911824/Risk-of-Rain-2-update.png')">
            </a>
            <h1>Leagues Of Fortresses</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil sunt ut mollitia illum molestias totam! Fugit ab iusto ea, quae officiis delectus commodi distinctio ducimus optio eveniet at expedita repellat velit neque amet nemo aspernatur tempore. Necessitatibus cupiditate deserunt quod repellendus vel iste aliquam, nemo tenetur repudiandae molestiae quas, eius quaerat magni similique sed ipsam ad aliquid ratione libero magnam.</p>
            <div class="tags">
                <span class="tag">Multiplayer</span>
                <span class="tag">Singleplayer</span>
                <span class="tag">Sandbox</span>    
                <span class="tag">FPS</span>
                <span class="tag">Open World</span>
            </div>
            <div class="screenshots">
                <div class="screenshot"></div>
                <div class="screenshot"></div>
                <div class="screenshot"></div>
                <div class="screenshot"></div>
                <div class="screenshot"></div>
                <div class="screenshot"></div>
                <div class="screenshot"></div>
                <div class="screenshot"></div>
                <div class="screenshot"></div>
                <div class="screenshot"></div>
            </div>
            <div class="buttons">
                <a href="#" class="get-game">
                    BUY NOW
                    <span>$ 4.59</span>
                </a>
            </div>
        </div>
        <span class="material-icons arrow">navigate_next</span>
    </div>    
{% endblock %}