:root, *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14pt;
}

body {
    background-color: #E8E5DE; 
}


header {
    height: fit-content;
    background-color: #CFC9BA;
    display: flex;
    justify-content: center;
}

.logo {
    height: 30rem;
    margin: 1rem 2rem;
}

nav {
    margin: 1rem auto;
}

nav > a {
    margin: 0 1rem;
}

.login-btn {
    margin: 1rem 2rem;
}

footer {
    background-color: #CFC9BA;
}

.logo {
    height: 2rem;
}