:root, *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 12pt;
    font-family: motiva-sans, sans-serif;
}

body {
    background-color: #E8E5DE;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


header {
    height: 4rem;
    background-color: #CFC9BA;
    display: flex;
    align-items: center;
    padding: .4rem .8rem;
}

.logo {
    height: 3rem;
    padding-right: 2rem;
}


.nav-links {
    margin: 0 1rem;
    color: #EE2757;
    text-decoration: none;
    font-weight: 200;
    font-size: 1.5rem;  
}

.login-btn {
    margin-left: auto;
    color: #EE2757;
    text-decoration: none;
    font-weight: 200;
    text-align: center;
}

main {

}

footer {
    margin-top: auto;
    padding: 1.5rem;
    height: 4rem;

    color: #806F60;
    background-color: #CFC9BA;
    text-align: center;
    font-size: 1rem;
    font-weight: 200;
}









.form-container {
    display: grid;
    place-items: center;
    margin: auto 0;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    width: min(80vw, 45ch);
    align-items: center;
    background-color: #D9D2C7;
}

form > h1 {
    font-weight: 200;
    font-size: 3.5rem;
    color: #471F00;
}

label {
    margin-top: 1rem;
}

input {
    margin: .5rem 0;
    padding: .5rem .75rem;
    color: #471F00;
    background-color: #E8E5DE;
    border: 2px solid #471F00;
    border-radius: .5rem;
    width: 100%;
}

input[type=submit] {
    padding: .5rem 2rem;
    width: max-content;
    color: #E8E5DE;
    background-color: #EE2757;
    border-color: #EE2757;
}

